<div class="container-fluid">
    <form (ngSubmit)='submitQuote() ;quoteForm.resetForm({})' #quoteForm='ngForm'>
        <div class="form-group">
        <textarea name="quote" id="quote" cols="30" rows="5" class="form-control" placeholder="Enter your Quote here..." [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>

        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Quote is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="author" id="author" class="form-control input" placeholder="Author..." [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="contributor" id="contributor" class="form-control" placeholder="Submitted by..." [(ngModel)]="newQuote.contributor" name="contributor" #contributor='ngModel' required>

        <div [hidden]="contributor.valid || contributor.pristine" class="alert alert-danger">
            <p>Contributor is required</p>
        </div>
    </div>
    <button class="btn">Submit</button>
    </form>
</div>