<div class="container-fluid">
    <form action="#">
        <div class="form-group">
            <textarea name="text-area" id="text-area" cols="30" rows="5" class="form-control" placeholder="Enter your Quote here..."></textarea>
        </div>
        <div class="form-group">
            <input type="text" name="author" id="author" class="form-control input" placeholder="Author...">
        </div>
        <div class="form-group">
            <input type="text" name="submitter" id="submitter" class="form-control" placeholder="Submitted by...">
        </div>
        <button class="btn">Submit</button>
    </form>
</div>