ul{
    list-style: none;
    font-size: 18px;
    position: relative;
}

li{
    font-family: 'Indie Flower', cursive;
}

.quote-card{
    background-color: #DFBFAA;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    border-radius: 20px;
    position: relative;
    right: 55px;
    margin-bottom: 60px;
}

#form-inner-section{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.form-position-section{
    position: relative;
}
app-form{
    position: relative;
    left: 70px;
}