/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* resets default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 170px;
    padding-right: 170px;
}