p{
    font-weight: bold;
    margin-top: 20px;   
}

#contributor{
    color: white;
}

.delete{
    margin-bottom: -25px;
    border: solid #F18881 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}