p{
    font-weight: bold;
    margin-top: 20px;   
}

#contributor{
    color: white;
}

.delete{
    margin-bottom: -25px;
    border: solid #F18881 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.delete img{
    width: 28px;
    height: 36px;
}

.like-dislike{
    width: 100px;
    border: solid #DFBFAA 1px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
}

#like{
    position: relative;
}

#like img{
    position: inherit;
    right: 10px;
    cursor: pointer;
    width: 22px;
    height: 20px;
}

#like p{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    right: 10px;
    color: #9975CE;
}

#dislike{
    position: relative;
}

#dislike img{
    position: inherit;
    left: 5px;
    cursor: pointer;
    width: 22px;
    height: 20px;
}

#dislike p{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    left: 15px;
    color: #F18881;
}

.buttons-container{
    position: relative;
}

.buttons{
    position: relative;
    right: 30px;
    top: 20px;
}